html {

}

#header {
    height: 100px;
}

#editor {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: darkcyan;
    width: 1000px;
    height: 500px;
}

.node {
    background-color: coral;
    position: absolute;
    border-radius: 5px;
    min-height: 200px;
    min-width: 150px;
}