html {
    font-family: Verdana;
    font-size: 12px;
}

#header {
    height: 100px;
}

#editor {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    width: 80vw;
    height: 80vh;

    border: 1px solid black;
    touch-action: none;
}


.node {
    background-color: cornflowerblue;
    border: 2px solid #555555;
    position: absolute;
    border-radius: 5px;
    min-height: 200px;
    min-width: 150px;
    cursor: pointer;
    padding: 10px;
}

.node:hover {
    background-color: lightskyblue;

}


.node>.title {
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.node>.inputs {
    color: white;
    text-align: left;
    height: 50px;
}

.node>.outputs {
    color: white;
    text-align: right;
    height: 50px;
}


.node.selected {
    background-color: indianred;
    border: 2px dashed #555555;
    box-shadow: 0px 0px 5px #555555;
}