html {

}

#header {
    height: 100px;
}

#editor {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    width: 80vw;
    height: 80vh;

    background-color: darkslateblue;
}


.node {
    background-color: indianred;
    position: absolute;
    border-radius: 5px;
    min-height: 200px;
    min-width: 150px;
}

.node.selected {
    border: 3px solid pink;
}