html {
    font-family: Verdana;
    font-size: 12px;
}

#header {
    height: 100px;
}

#editor {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    width: 80vw;
    height: 80vh;

    margin-left: 50px;

    border: 1px solid black;
    touch-action: none;
}


.node {
    background-color: cornflowerblue;
    border: 2px solid #555555;
    position: absolute;
    border-radius: 5px;
    min-height: 200px;
    min-width: 150px;
    cursor: pointer;
    padding: 10px;
}

.node:hover {
    background-color: lightskyblue;

}


.node>.title {
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.node>.inputs {
    text-align: left;

}

.node>.outputs {
    text-align: right;
}

.input,.output {
    vertical-align: middle;
    color: white;
    margin: 5px;
    height: 15px;
}


.node.selected {
    background-color: lightskyblue;
    border: 2px dashed #555555;
    box-shadow: 0px 0px 5px #555555;
}

.socket {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: mediumslateblue;
    border-radius: 6px;
    border: 1px solid black;
}

.input.socket {
    left: 0;
    margin-left: -8px;
}


.output.socket {
    right: 0;
    margin-right: -8px;
}

.socket.input:hover,.socket.output:hover {
    background-color: white;
}

.connection {
    overflow: visible;

}

.path {
    stroke: black;
    fill: none;
    stroke-width: 5px;
}

.path.temp {
    stroke-dasharray: 6;
}